body {
    background-color: rgb(175, 173, 173);
}
.button {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(94,91,91,255);
    color: whitesmoke;
}
.button:hover{
    /* box-shadow: 0 8px 16px 0 yellow, 0 6px 20px 0 yellow; */
    background-color: rgba(44,172,74,255);
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-style: underline;
    float: initial;

}

#chart {
    /* margin-top: 20px; */
    /* border-color: black;
    border-style: solid; */
    /* border: 1px solid black */
    margin-right: 30px;
}
/* SvgjsText12844 */
p {
    position: absolute;
    bottom: 2px;
    left: 2px;
}


.rocket {
    opacity: 100;
}