body {
    background-image: linear-gradient(to bottom right, rgb(114, 113, 113), rgb(192, 191, 191));
    
}
.button {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(94,91,91,255);
    color: whitesmoke;
}
.button:hover{
    
    background-color: rgba(44,172,74,255);
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: white;
}

h1 {
    
    text-align: center;
    font-size: 60px;
    font-style: underline;
    float: initial;

}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    
    float: initial;

}

div {
    font-family: Arial, Helvetica, sans-serif;
}
#chart {
    /* margin-top: 20px; */
    /* border-color: black;
    border-style: solid; */
    /* border: 1px solid black */
    margin-right: 30px;
}
/* SvgjsText12844 */
.testing{
    position: absolute;
    bottom: 2px;
    left: 2px;
}





.rocket {
    opacity: 100;
    position: fixed;
    /* bottom: 1px; */
    right: 0;
    bottom: 0;
}
